.cards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.card__list {
  display: grid;
  color: #ffffff;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 24px;
  row-gap: 30px;
  height: 100%;
  padding: 80px 0 0 0;
  border-top: 1px solid;
  border-color: rgba(232, 232, 232, 1);
  justify-items: center;
}

/**/
.card__list-dummy-item {
  margin: 0 10px 38px 10px;
  height: 151px;
}
.dummy-link {
  display: flex;
  justify-content: center;
}
.dummy-text {
  width: 100% !important;
}
/**/

.cards__more-films {
  margin: 80px auto 80px auto;
  max-width: 1140px;
  max-height: 36px;
  width: 100%;
  padding: 9px 0 11px 0;
  color: #ffffff;
  background-color: #202020;
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
}
.cards__more-films:hover {
  background-color: #2f2f2f;
}

@media screen and (max-width: 768px) {
  .card__list {
    max-width: 688px;
  }
}

@media screen and (max-width: 350px) {
  .cards {
    padding: 0;
  }
  .card__list {
    padding-top: 40px;
  }
  .card__list-dummy-item {
    width: 300px !important;
  }
}

@media screen and (max-width: 320px) {
  .card__list {
    max-width: 300px;

    margin-top: 45px;
    gap: 16px;
  }
  .cards__more-films {
    max-width: 240px;
  }
}
