.filter {
  max-height: 40px;
  display: flex;
  align-items: center;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
}

.filter__checkbox {
  width: 36px;
  height: 30px;
  background-image: url(../../images/filterBtnActive.svg);
  border: 0;
  border-color: transparent;
  background-color: transparent;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  margin-right: 13px;
  margin-left: auto;
}
.filter__checkbox_active {
  width: 36px;
  height: 30px;
  background-image: url(../../images/filterOffBtn.svg);
  border: 0;
  border-color: transparent;
  background-color: transparent;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  margin-right: 13px;
  margin-left: auto;
}

.filter__name {
  color: #FFFFFF;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 18px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}